img {
    object-fit:contain;
    height: 250px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
  }

.buttons {
    clear:left;
    margin: 10px;
}

button {
    border-radius: 10px;
    border-style: none;
    height:30px;
    width: 55px;
    background-color: coral;
    color:white;
    font-size: 20px;
}

.galleryItemWrapper {
    border-style: solid;
    margin: 15px;
    background-color: white;
}

p {
    font-size: 20px;
    object-fit:contain;
    height: 250px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    overflow-wrap:normal;
    max-width:250px;
  }