.App {
  text-align: center;
  background-color: coral;
}

.App-header {
  background-color: hsl(220, 49%, 35%);
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  font-size:large;
}

.App-title {
  font-size: 1.5em;
}

